h6
{
    font-family: serif;
    font-size: 1rem;
}

h5
{
    font-family: serif;
    font-size: 1.25rem;
}

h4
{
    font-family: serif;
    font-size: 1.5rem;
}

h3
{
    font-family: serif;
    font-size: 1.75rem;
}

h2
{
    font-family: serif;
    font-size: 2rem;
}

h1
{
    font-family: serif;
    font-size: 2.25rem;
}

.alert
{
    font-size: 1rem;
}

ul.nav-pills 
{
    top: 100px;
    position: fixed;
}

div.col-8 div 
{
    height: 300px;
}

.btn-danger
{
    width: 15%;
}

.form
{
    margin-left: 40px;
}

